
/*Nathan*/
h2 {
    font-size:x-large;
    font-family: Acme;
}
p {
    font-size:medium;
    font-family: Lato;
}
.teamNames {
    color:cornflowerblue;
    
}

.blueBackground {
    background-color:blue;
    color:yellow;
}

.nathanTitle {
    text-align:center;
    font-size:xx-large;
    font-family:'Courier New', Courier, monospace;
    padding-top:20px;
}

.nathanAboutTitle {
    text-align:center;
    font-size:large;
    font-family:'Courier New', Courier, monospace;
    
}


/*Lexi*/

/*Carlos*/

/*Emily*/

/*Tim*/