


/*------------------------------------------- General Styles -------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&family=Ovo&display=swap');
h1 {
  font-family:  'Lato', sans-serif;
  font-size: 60px;
  line-height: 72px;
  margin:0;
}
h2 {
  font-family:  'Lato', sans-serif;
  font-size: 48px;
  line-height: 60px;
  margin:0;
}
h3 {
  font-family:  'Lato', sans-serif;
  font-size: 36px;
  line-height: 48px;
  margin:0;
}
h4 {
  font-family:  'Lato', sans-serif;
  font-size: 24px;
  line-height: 36px;
  margin:0;
}
h5 {
  font-family:  'Lato', sans-serif;
  font-size: 21px;
  line-height: 24px;
  margin:0;
}
h6 {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 21px;
  margin:0;
}
p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin:0;
  line-height: 1.8;
  color:#353535;
  margin:0;
}
body {
  margin:0;
}
/*------------------------------------------- INDEX -------------------------------------------*/
.row {
  display: flex;
  padding: 80px;
  flex-wrap: wrap;
  background-color: #1A6FA8;
}
.row .box .image {
  width:100%;
}
.row .box .image img {
  width:100%;
  max-height: 200px;
  border-radius: 10px 10px 0 0;
  transition: 250ms all;
  object-fit: cover;
}
.row .box .image img:hover {
  opacity: 0.65;
}
.row .box {
  width:33.333%;
  flex:1;
  margin:10px;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.15);
  background-color:#fff;
  border-radius: 10px;
}
.row .box .content {
  padding: 25px;
}
#banner {
    text-align:center;
    background-color:#D89F3A;
    padding: 80px 0;
    margin: 0 auto;
}
#banner h1 {
  color: #fff;
  font-size: 72px;
  font-weight: 900;
  text-transform: uppercase;
}
footer {
  background-color: #D89F3A;
  padding:80px 0;
  margin: 0 auto;
  text-align: center;
}
footer a {
  text-decoration: none;
  color:#fff;
}

/*------------------------------------------- Nathan -------------------------------------------*/
.teamNames {
    color:cornflowerblue;

}

.blueBackground {
    background-color:blue;
    color:yellow;
}

.nathanTitle {
    text-align:center;
    font-size:xx-large;
    font-family:'Courier New', Courier, monospace;
    padding-top:20px;
}

.nathanAboutTitle {
    text-align:center;
    font-size:large;
    font-family:'Courier New', Courier, monospace;

}

.gradientAnimationYellowBlue {
  background: linear-gradient(0deg, #ebee69, #1877e6, #18e672);
  background-size: 600% 600%;

  -webkit-animation: gradientAnimation1 31s ease infinite;
  -moz-animation: gradientAnimation1 31s ease infinite;
  animation: gradientAnimation1 31s ease infinite;
}

@-webkit-keyframes gradientAnimation1 {
  0%{background-position:49% 0%}
  50%{background-position:52% 100%}
  100%{background-position:49% 0%}
}
@-moz-keyframes gradientAnimation1 {
  0%{background-position:49% 0%}
  50%{background-position:52% 100%}
  100%{background-position:49% 0%}
}
@keyframes gradientAnimation1 {
  0%{background-position:49% 0%}
  50%{background-position:52% 100%}
  100%{background-position:49% 0%}
}

.animationTest {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

.wave1 {
  position: absolute;
  bottom: 2000;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wavef1.png);
  background-size: 1000px 100px;

  animation: wave 20s linear infinite;
  animation-direction:alternate;
}


@keyframes wave {
  0% {
    background-position-x: 0;
    background-size:1000px;
  }
  100% {
    background-position-x: 1000px;
    background-size: 1500px;
  }
}

.wave2 {
  position: absolute;
  bottom: 2000;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(wavef1.png);
  background-size: 900px 100px;

  animation: wave 5s linear infinite;
  animation-direction:alternate-reverse;
}

@keyframes wave2 {
  0% {
    background-position-x: 0;
    background-size:800px;
  }
  100% {
    background-position-x: 1000px;

    background-size: 1200px;
  }
/*------------------------------------------- Lexi -------------------------------------------*/
body.lexi {
  margin:0;
  background-color:#E0E0E0;
}
/* Hero */
.lexi .hero {
  padding: 150px 0;
  background-image: url(lexi-hero.png);
  background-size: cover;
  background-position: center;
  text-align: center;
  border-bottom: 10px solid #353535;
}
.lexi .hero h1 {
  color:#fff;
  font-weight: 800;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
/* Body */
.page {
  width: 100%;
  display: flex;
}
.page .sidebar {
  background-color:#cccccc;
  width:25%;
  padding: 80px;
}
.page .sidebar .image {
  margin:0 auto;
  text-align: center;
  margin: 20px 0;
}
.lexi hr {
  border-bottom: 6px dashed #bababa;
}
.page .sidebar .image img {
  border-radius: 50%;
  width:50%;
  box-shadow: 0 3px 35px rgba(0,0,0,0.15);
}
.page .content {
  width:75%;
  padding: 80px 60px 60px 180px;
}
.lexi footer {
  padding: 60px;
  background-color:#353535;
  text-align: center;
}
.lexi footer p {
  color:#eee;
}
a.btn-gold, a.btn-gold:link {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 12px 25px;
  background-color:#D89F3A;
  text-decoration: none;
  color:#fff;
  font-weight: 700;
  border-radius: 24px;
  transition: 250ms all;
  margin-bottom: 20px;
}
a.btn-gold:hover, a.btn-gold:active {
  background-color:#AA590F;
}
.hover-effect:after {
  width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background: #000;
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    content: '';
    position: absolute;
    z-index: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 350ms;
}
.hover-effect:hover:after {
  height:200px;
  opacity: 0.25;
}

/*------------------------------------------- Carlos -------------------------------------------*/



  .container{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%
  }
  .container span{
    text-transform: uppercase;
    display: block;
  }
.TextCarlosAN{
  color:darkgray;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 8px;
  margin-bottom: 20px;
  position: relative;
  animation: text 3s infinite;
}

@keyframes text {
  0%{
    color:black;
    top: 0px;
  }
  50%{
    color:red;
    top: 300px;
  }
  100%{
    color: black;
    top: 0px;
  }
}



/*------------------------------------------- Emily -------------------------------------------*/
.emilyTitle {
  text-align:center;
  font-size: 60px;
  font-family:'copperplate', fantasy;
  padding-top:20px;
  padding-bottom: 20px;
  background: linear-gradient(to right, #a56fa6, #907fdb);
  width: 100%;
  height: 100%;
  color: #fff;
}

.emilyBanner {
  width: 100%;
  position: absolute;
}

.emilyBanner ul{
  height: 50px;
  float: left;
}

.emilyBanner ul a{ 
  display: inline-block;
  padding: 70px 15px;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
}

.emilyWeirdBanner {
  width: 100%;
  position: absolute;
}

.emilyWeirdBanner ul{
  height: 50px;
  float: left;
}

.emilyWeirdBanner ul a{ 
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
}

/*------------------------------------------- Tim -------------------------------------------*/
